extends layout/index

block content
  .row
    .col-md-6.col-md-offset-3
      h1.section-title= title
      ul
        .row
          each task in tasks
            .container-fluid
              .col-xs-10
                .list-group-item.task-title= task.title
                  br
                  | &nbsp;
                  span Completed at:
                  | &nbsp;
                  span=task.completedAt
              .col-xs-2
                button.btn.btn-lg.btn-danger.task-button.remove-task.remove-completed-task(data-id= task.id) Delete
