extends layout/index

block content
  .col-md-offset-1.col-md-11.content
    .row
      section.col-md-9
        h1=userAcount.username
        h1=userAcount.email
        h1=userAcount._id
      
      
      include layout/aside
