extends layout/index

block content
  .col-md-offset-1.col-md-11.content
    .row
      section.col-md-9.articles
        article
          h2.article-title=article.title
          .hot-article-container
            .hot-article-img
              img.img-responsive(src=article.image, alt='article-img')
            .hot-article-body!=article.body
              p.date-of-publish Fecha de publicación: 
                span=article.date_pretty
      include layout/aside
