extends layout/index

block content
  .col-md-offset-1.col-md-11.content
    .row
      section.col-md-9
        if error.status
          h1
            | Ha ocurrido un error
          p=error.msg
        else
          #root
            h1
              | Se va a proceder a vincular las siguientes cuentas
            p
              span=userData.username
              span  >> 
              span=discord.username
              br
            button.link-discord.default-button(id=data.token) Vincular cuentas!
      include layout/aside
