extends layout/index

block content
  .col-md-offset-1.col-md-11.content
    .row
      section.col-md-9.articles
        article
          h2.article-title
            | PRINCIPAL ARTICLE TITLE
          .hot-article-container
            .hot-article-img
              img.img-responsive(src='https://www.harbingersofdevastation.com/images/Bulletstorm.jpg', alt='article-img')
            .hot-article-body
              h3 No man, I don't eat pork
              p
                | Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the way the nigger talks. Motherfucker do that shit to me, he better paralyze my ass, 'cause I'll kill the motherfucker, know what I'm sayin'?
        .articles-section.col-md-12
          article.article-body
            h2.article-title
              | SECONDARY ARTICLE TITLE
            .row
              div
                img.img-responsive(src='https://www.harbingersofdevastation.com/images/uploads/lucioball.jpg', alt='article-img')
              div
                h3 No man, I don't eat pork
                p
                  | Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the way the nigger talks. Motherfucker do that shit to me, he better paralyze my ass, 'cause I'll kill the motherfucker, know what I'm sayin'?
          article.article-body
            h2.article-title
              | SECONDARY ARTICLE TITLE
            .row
              div
                img.img-responsive(src='https://www.harbingersofdevastation.com/images/uploads/lucioball.jpg', alt='article-img')
              div
                h3 No man, I don't eat pork
                p
                  | Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the way the nigger talks. Motherfucker do that shit to me, he better paralyze my ass, 'cause I'll kill the motherfucker, know what I'm sayin'?
          article.article-body
            h2.article-title
              | SEstickyCONDARY ARTICLE TITLE
            .row
              div
                img.img-responsive(src='https://www.harbingersofdevastation.com/images/uploads/lucioball.jpg', alt='article-img')
              div
                h3 No man, I don't eat pork
                p
                  | Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the way the nigger talks. Motherfucker do that shit to me, he better paralyze my ass, 'cause I'll kill the motherfucker, know what I'm sayin'?
          article.article-body
            h2.article-title
              | SECONDARY ARTICLE TITLE
            .row
              div
                img.img-responsive(src='https://www.harbingersofdevastation.com/images/uploads/lucioball.jpg', alt='article-img')
              div
                h3 No man, I don't eat pork
                p
                  | Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the way the nigger talks. Motherfucker do that shit to me, he better paralyze my ass, 'cause I'll kill the motherfucker, know what I'm sayin'?
      aside.col-md-3.sidebar
        .user-management 
          h2 Bienvenido a Hod
          p Inicia sesión con tu cuenta de Harbingers of Devastation para disfrutar la comunidad y ayudarla a crecer.
          a(href="./login")
            button.go-login Iniciar sesión
        iframe(src='https://discordapp.com/widget?id=347411149458767873&theme=dark', height='500', width='100%', allowtransparency='true', frameborder='0')
        a.twitter-timeline(data-height='700', data-theme='dark', href='https://twitter.com/HarbsDev?ref_src=twsrc%5Etfw') Tweets by HarbsDev
        script(async='', src='https://platform.twitter.com/widgets.js', charset='utf-8')
