extends layout/login

block content
  .login-page
  .form
    form.register-form(enctype='multipart/form-data' method='post')
      input(type='text', data-username='username' placeholder='Nombre de usuario...' requered value='perico')
      input(type='password', data-password='password' placeholder='Contraseña...' required value='perico')
      input(type='email', data-email='email' placeholder='Correo elecrónico...' required value='perico@perico')
      button create
      p.message
        | ¿Tienes ya una cuenta? 
        a(href='#') Inicia sesión
    form.login-form
      input(type='text', placeholder='Nombre de usuario...' requered)
      input(type='password', placeholder='Contraseña...' required)
      button login
      p.message
        | ¿No estás registrado? 
        a(href='#') Crea una cuenta
