.pending-activation {
  margin-top: 20px;
  background-color: #232629;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.pending-activation .email{
  color: #738bd7;
}

.user-management{
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 10px;
  background-color: #232629;
  margin-bottom: 10px;
  padding: 20px;
  text-align: left;
}
.user-management h2{
  text-align: center;
  padding-top: 0px;
  margin-top: 0px;
}
.user-management .user-description{
  padding: 0px 10px;
  font-size: 15px;
}
.user-description p , .user-description a{
  text-align: left;
}
.user-management .user-button{
  display: block;
  width: 80%;
  margin: auto;
}
.default-button , .modify-button{
  border: 0px;
  border-radius: 5px;
  color: white;
  width: 100%;
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: bolder;
}
.default-button{
  background-color: #738bd7;
}
.modify-button{
  background-color: orange;
}
.date{
  padding-top: 10px;
  font-weight: bolder;
  text-align: center;
}
