::-webkit-scrollbar {
    width: 12px;
    background-color: #111111;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: grey;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #738BD7;
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.5);
}
@import url('https://fonts.googleapis.com/css?family=Play');
body{
  background-image: url('../images/zwartevilt.png');
  font-family: 'Play', sans-serif;
  background-color: #000;
  text-align: justify;
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  top: 0px;
}
html,
body {
    height: 100vh;
    font-family: 'Play', sans-serif;
}
.login-page {
  width: 700px;
  padding: 100px 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #323232;
  max-width: 700px;
  margin: 15.6vh auto 25.6vh;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  text-transform: uppercase;
  outline: 0;
  background: #738BD7;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #738BD7;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #738BD7;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}

/* --------USER MANAGEMENT---------*/

.profile-modify{
  background-color: #232629;
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 5px;
  color: white;
  margin-top: 100px;
  margin-bottom:19.4vh;
}
.profile-modify h2{
  margin-top: 0px;
}
.profile-modify input{
  color: black;
  height: 50px;
}

.updateUserData, .updateAvatar{
  background-color: #738BD7;
  border: 0px;
  height: 50px;
  display: inline-block;
}
.imageUpload input{
  width: 80%;
}
.imageUpload button{
  width: 20%;
}
.buttons{
  display: flex;
}
.view-profile-button, .submit-form-button{
  width: 50%;
  display: block;
  border-radius: 10px;
  border: 0px;
  height: 50px;
}
a.view-profile-button {
  width: 50%;
}
.view-profile-button button {
  background-color: orange;
  display: block;
  width: 100%;
  height: 50px;
  color: white;
  text-decoration: none;
  border: 0px;
  border-radius: 10px;
}
.user-profile{
  color: white;
  margin-top: 15%;
  background-color: #232629;
  padding: 10px 40px;
  border-radius: 10px;
}
.user-title{
  background-color: rgba(255,255,255,0.1);
  padding: 10px 0px;
  text-align: center;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  font-size: 20px;
}
.user-button{
  width: 100%;
}

.modify-button{
  background-color: orange;
  border: 0px;
  border-radius: 10px;
  margin-top: 10px;
  color: white;
  padding: 10px;
  font-size: 20px;
  width: 100%;
}

@media (max-width: 850px) {
  .form{
    max-width: 80%;
  }
  .form .login-page{
    width: 80%;
  }
}
@media (max-width: 700px) {
  .login-page .form{
    width: 100%;
    margin: 13.8vh 0;
    max-width: none;
  }
}
@media (max-width: 767px) {
  .login-page{
    padding-top: 0px;
    width: 90%;
  }
  .login-page .form{
    margin: 15vh auto;
  }
}

@media (max-width: 991px) {
  .profile-modify{
    height: auto;
    margin-top: 100px;
    margin-bottom:10px;
  }
  .user-profile{
    margin: 100px 0px;
  }
}
