aside.col-md-3.sidebar
  if userData
    .user-management.row
      h2 Bienvenido  
        span=userData.username
      .col-md-3
        img.img-responsive(src=userData.avatar)
      .col-md-9
        p=userData.description
      p=userData.date_of_creation
      a(href="/logout")
        button.go-login Cerrar sesión
  else
    .user-management
      div
        h2 Bienvenido a Hod
        p Inicia sesión con tu cuenta de Harbingers of Devastation para disfrutar la comunidad y ayudarla a crecer.
        a(href="/login")
          button.go-login Iniciar sesión
  iframe(src='https://discordapp.com/widget?id=347411149458767873&theme=dark', height='500', width='100%', allowtransparency='true', frameborder='0')
  a.twitter-timeline(data-height='700', data-theme='dark', href='https://twitter.com/HarbsDev?ref_src=twsrc%5Etfw') Tweets by HarbsDev
  script(async='', src='https://platform.twitter.com/widgets.js', charset='utf-8')
