footer.footer-menu.col-xs-12
  section.author_legal.col-md-3
    span
      | © 
      strong Harbingers Of Devastation
    span
      | Designed by 
      strong
        a(href='https://www.omwdesign.eu' target='_BLANK') 
          i.fa.fa-github
          |  Óscar Medina
  section.footer-logo.col-md-1.col-sm-2.col-xs-6
    img.img-responsive.img-circle(src='/images/silueta_fondo_transparente-min.png', alt='footer-logo')
  section.social-networks.col-md-3
    a(href='https://discordapp.com/invite/exj2gED' target='_BLANK')
      img(src='/images/social/discord.png' alt='discord-logo')
    a(href='https://twitter.com/HarbsDev' target='_BLANK')
      img(src='/images/social/twitter.png' alt='twitter-logo')
    a(href='https://www.youtube.com/channel/UC6blXNofqeHJEmp2A9KQN8g' target='_BLANK')
      img(src='/images/social/youtube.png' alt='youtube-logo')
    a(href='https://www.facebook.com/HarbingersOfDevastation/' target='_BLANK')
      img(src='/images/social/facebook.svg' alt='facebook-logo')
    a(href='https://www.twitch.tv/communities/harbingersofdevastation' target='_BLANK')
      img(src='/images/social/twitch.svg' alt='twitch-logo')
