footer.footer-menu.col-xs-12
  section.author_legal.col-md-3
    span
      | © 
      strong Harbingers Of Devastation
    span
      | Designed by 
      strong
        a(href='https://www.omwdesign.eu') Óscar Medina
  section.footer-logo.col-md-1.col-sm-2.col-xs-6
    img.img-responsive.img-circle(src='/images/silueta_fondo_transparente-min.png', alt='footer-logo')
  section.social-networks.col-md-3
    img(src='/images/social/discord.png', width='30px', height='30px', alt='discord-logo')
    img(src='/images/social/twitter.png', width='30px', height='30px', alt='twitter-logo')
    img(src='/images/social/youtube.png', width='30px', height='30px', alt='youtube-logo')
    img(src='/images/social/facebook.svg', width='30px', height='30px', alt='facebook-logo')
    img(src='/images/social/twitch.svg', width='30px', height='30px', alt='twitch-logo')
