// Google Tag Manager
script.
  (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-57VMVS2');
// End Google Tag Manager
// Global site tag (gtag.js) - Google Analytics
script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-60198169-2')
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-60198169-2');
script(src='https://www.google.com/recaptcha/api.js')
script(type='application/ld+json').
  {
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "Harbingers of Devastation",
  "url": "http://www.your-site.com",
  "sameAs": [
  "https://www.facebook.com/HarbingersOfDevastation/",
  "https://twitter.com/HarbsDev",
  "https://www.youtube.com/channel/UC6blXNofqeHJEmp2A9KQN8g"
  ]
  }
