// Global site tag (gtag.js) - Google Analytics
link(rel='stylesheet', type='text/css', href='//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css')
script(src='//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js')
script.
  window.addEventListener("load", function(){
  window.cookieconsent.initialise({
  "palette": {
  "popup": {
  "background": "#edeff5",
  "text": "#838391"
  },
  "button": {
  "background": "#4b81e8"
  }
  },
  "position": "bottom-right",
  "content": {
  "message": "Esta página web utiliza cookies propias para garantizar la mejor experiencia del usuario y cookies de terceros (Google analytics) para conocer mejor el funcionamiento de la plataforma.",
  "dismiss": "Claro!",
  "link": "Quieres saber más?"
  }
  })});

script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-60198169-2')
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-60198169-2');
// Google data Structure
script(type='application/ld+json').
  {
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "Harbingers of Devastation",
  "url": "https://beta.harbingersOfdevastation.com",
  "sameAs": [
  "https://www.facebook.com/HarbingersOfDevastation/",
  "https://twitter.com/HarbsDev",
  "https://www.youtube.com/channel/UC6blXNofqeHJEmp2A9KQN8g"
  ]
  }
