doctype html
html(lang='en-gb')
  head
    include gtmHead
    meta(charset='utf-8')
    meta(name="description" content="Comunidad dedicada al mundo de los videojuegos, sobretodo dedicada a usuarios de pc y que estamos buscando gente amistosa que quiera compartir su tiempo de juego con los demás. Bienvenido!!!" /)
    meta(name="keywords" content="Comunidad gaming, PC gaming, Sorteos de juegos, discord, comunidad abierta, videos en youtube, emisiones en directo en twitch")
    meta(name="author" content="metatags generator")
    meta(name="robots" content="index, follow")
    meta(name="revisit-after" content="1 days")
    meta(name="theme-color" content="#111111")
    title Iniciar sesión
    include stylesLogin
  body
    include gtmBody
    block content
    include footer
    include scripts
