script(type='text/javascript').
  window._trackJs = { token: '2de5219cf4c2447cbf9c68200325809e' };
script(type='text/javascript', src='https://cdn.trackjs.com/releases/current/tracker.js')
script(src="https://unpkg.com/axios/dist/axios.min.js" defered="true")
script(src="https://code.jquery.com/jquery-2.2.4.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" defered="true")
<<<<<<< Updated upstream
script(src="/scripts/bundle.1526872570.js")
=======
script(src="/scripts/bundle.1524842497.js")
>>>>>>> Stashed changes
