doctype html
html(lang='en-gb')
  head
    include gtmHead
    meta(charset='utf-8')
    title Harbingers of Devastation
    include styles
  body
    include navbar
    include gtmBody
    block content
    include footer
    include scripts
