.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #232629;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #fdf9f9;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ffffff;
  background-color: $hod-blue;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
  background-color: $hod-blue;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #ffffff;
  background-color: $hod-blue;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: $hod-blue;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: $hod-blue;
}

.navbar-default {
  & .navbar-nav > li > a {
    color: #fdf9f9;
    &:hover,:focus {
      background-color: $hod-blue;
      color: #ffffff;
    }
  }
  background-color: #232629;
  border-color: $hod-blue;
  & .navbar-text {
    color: #fdf9f9;
  }
  & .navbar-brand {
    color: #fdf9f9;
    &:hover,:focus {
      color: #ffffff;
    }
  }
  & .navbar-toggle {
    border-color: $hod-blue;
    &:hover,:focus {
      background-color: $hod-blue;
    }
    & .icon-bar {
      background-color: #fdf9f9;
    }
  }
  & .navbar-collapse, .navbar-form {
    border-color: #fdf9f9;
  }
  & .navbar-link {
    color: #fdf9f9;
    &:hover {
      color: #ffffff;
    }
  }
}
.user-management {
  background-color: #323232;
  margin: 10px 2.5px;
  padding: 10px;
  border-radius: 10px;
  & h2 {
    text-align: center;
  }
  & .user-barge-button-container {
    width: 90%;
    margin: auto;
  }

}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fdf9f9;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: $hod-blue;
  }
}
